<% include _header %>

    <div class="loginbox">
        <div class="errorBox">
        </div>
        <label>
    <input type="text" class="login" placeholder="Username" size="30">
    </label>

        <label>        
   <input type="password" class="password" placeholder="Password" size="30">
    </label>

        <label>
    <button class="submit">Log in</button>
    </label> If you don't have account you can <a href="/register">register</a>

    </div>

    <script src="/js/auth/login.js"></script>
    <% include _footer %>