<% include _header %>

    <div class="loginbox">
        <div class="errorBox">
        </div>
        <label>
        
    <input type="text" class="login" placeholder="Username" size="30">
    </label>

        <label>
        
   <input type="password" class="password" placeholder="Password" size="30">
    </label>

        <label>
    <button class="submit">Register</button>
    </label> If you already have account you can <a href="/login">log in</a>

    </div>

    <script src="/js/auth/register.js"></script>
    <% include _footer %>